.index_corps{
	background-image: url(../images/3.jpg)!important;
	background-size: cover!important;
	color: white;
}
h1{
	font-size: 100px;
	text-align: center;
	margin-top: 200px;
}
.bt1{
	margin-left: 350px;
	margin-top:80px;


}
.bt2{
	margin-right: 300px;
	margin-top: 160px;
}
.menu{
	background-color: #5d4037 ;
	border:none;
	height: 80px;
}

.corps{
	font-family: 'Catamaran', sans-serif;
	color: white;
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	

}


/*fin entete*/

.form1{
	margin-top: 75px;
	background-color: black !important;
	height: 550px!important;
	opacity: 0.7;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
	/*height: 400px;*/
}
.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
	/*border-top: hidden!important;

	border-left: hidden!important;

	border-right: hidden!important; */
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.bout1{
	background:#cddc39 ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
	margin-top: 50px;
}
.bout1:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}

.bout2{
	background:#cddc39 ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
	margin-top: 50px;
}
.bout2:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}

#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}
@media screen and (max-width: 768px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	/*opacity: 0.75;*/
	}
	.corps{
	
	
		background-repeat: no-repeat;
		background-size:cover;
		
	}
	a .des{
		text-align: center;
	}
	.des2{
		position: relative;
		left:-20px;
	}

	.des3{
		position: relative;
		left: -10px
	}



	table thead {
		display: none;
		}
		.table tr{
		display: block;
		margin-bottom: 40px;
		}
		.table td {
		display: block;
		text-align: right;
		}
		.table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	/*opacity: 0.75;*/
	}
}
/*header_account*/


.im1{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin-left: 100px;
}
/*debut profil*/
.profil{
	border-radius: 50%!important;
	width: 100px;
	height: 100px;
}
.img_visualise{
    width: 100px!important; 
    height: 100px!important; 
    border-radius: 50%!important;
}
.load_img{
    position: relative; top: -25px; left: 85px;
    /z-index: 2;/
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /background-color: blanchedalmond;/
    background-color: #f8f8f8;
}
.fa-refresh{
    position: relative; left: 5px; top: 2px;
}
.libele{
    /border: 1px solid;/
    display: inline-block;
    width: 70px;
}
#new_image{

}
label[class]{
    /background-color: red;/
}
.form4{
	margin-left: 300px;
}
